  <!-- Footer -->

  <footer class="colored-section" id="footer">
    <div class="container-fluid">
      <a href="mailto:kavinnaik19@gmail.com" target="_blank"><i class="social-icon fas fa-envelope fa-2x" style="color: #fff;"></i></a>
      <a href="https://github.com/kavinnaik" target="_blank"><i class="social-icon fab fa-github fa-2x" style="color: #fff;"></i></a>
      <a href="https://www.linkedin.com/in/kavin-naik-a23907227/" target="_blank"><i class="social-icon fab fa-linkedin fa-2x" style="color: #fff;"></i></a>
      
      <p>© <%= currentYear %> NIDS</p>
    </div>
  </footer>


</body>

</html>
